.place__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  box-sizing: border-box;
}

.place__paragraph:nth-of-type(2) {
  margin-top: 1.5rem;
}

@media screen and (max-width: 795px){
  .place__paragraph {
    font-size: 16px;
  }
}
