.cover {
    margin: 92px auto 0;
    max-width: calc(1280px - 2*48px);
}

@media screen and (max-width: 1024px){
    .cover {
        max-width: 100%;
    }
    
}

@media screen and (max-width: 1024px){
    .cover {
        margin: 66px auto 0;
    }
    
}