.cover__overlay {
    width: 100%;
    /* padding: 245px 312px 245px; */
    background:rgba(42, 44, 47, 0.3);
    /* z-index: 2; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.cover__overlay:hover {
    background:rgba(42, 44, 47, 0.8);
}

/* @media screen and (max-width: 1024px){
    .cover__overlay {
        width: 100%;
        height: 640px;
    }
}

@media screen and (max-width: 768px){
    .cover__overlay {
        height: 540px;
    }
}

@media screen and (max-width: 440px){
    .cover__overlay {
        height: 200px;
    }
} */